/* 공통디자인 common.css */
/* header, footer  */
/* ================================================================header */
#wrap header {
    height: 86px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 50px;
    position: fixed; left: 0; top: 0; width: 100%; z-index: 999;
}
/* -----------------------------------------------------------gnb_left */
#wrap header #gnb_left {
    display: flex; flex-flow: row nowrap; align-items: center;
    gap: 70px;
}
#wrap header #gnb_left h1 {}
#wrap header #gnb_left h1 a {}
#wrap header #gnb_left h1 a img {width: 100%;}
#wrap header #gnb_left nav {}
#wrap header #gnb_left nav #gnb {
    display: flex; flex-flow: row nowrap;
}
#wrap header #gnb_left nav #gnb:hover .lnb_depth2 {display: block;}
#wrap header #gnb_left nav #gnb > li {position: relative;}
#wrap header #gnb_left nav #gnb > li > a {
    color: #fff; font-size: 1.1rem; line-height: 86px;
    display: block; width: 180px; padding-left: 20px;
    border: 1px solid red;
}
#wrap header #gnb_left nav #gnb li .lnb_depth2 {
    position: absolute;
    width: 100%; background-color: #fff;
    display: none;
}
#wrap header #gnb_left nav #gnb li .lnb_depth2 > li {}
#wrap header #gnb_left nav #gnb li .lnb_depth2 > li > a,
#wrap header #gnb_left nav #gnb li .lnb_depth2 > li .depth_title {
    color: #4d4d4d; font-weight: 600;
    display: block; padding: 15px 0; padding-left: 20px;
}/* 뎁스2-타이틀 공통선택자 */
#wrap header #gnb_left nav #gnb li .lnb_depth2 > li .depth_title {}
#wrap header #gnb_left nav #gnb li .lnb_depth2 > li .lnb_depth3 {}
#wrap header #gnb_left nav #gnb li .lnb_depth2 > li .lnb_depth3 > li {}
#wrap header #gnb_left nav #gnb li .lnb_depth2 > li .lnb_depth3 > li > a {
    color: #4d4d4d; font-size: 0.8rem;
    display: block; padding: 8px 0; padding-left: 20px;
}
#wrap header #gnb_left nav #gnb li .lnb_depth2 > li .lnb_depth3 > li > a:hover {
    font-weight: 600;
}
/* -----------------------------------------------------------lnb_right */
#wrap header .lnb_right {
    display: flex; flex-flow: row nowrap; align-items: center;
    gap: 10px;
}
#wrap header .lnb_right li {position: relative;}
#wrap header .lnb_right li a {}
#wrap header .lnb_right li a img {width: 100%;}
#wrap header .lnb_right li span {
    background-color: #7aadd3;
    color: #fff; font-size: 0.6rem; text-align: center; line-height: 1.5;
    border-radius: 50%; width: 15px; height: 15px; display: block;
    position: absolute; right: 5px; top: 12px;
}
/* -----------------------------------------------------------search_popup */
#wrap header .search_popup {
    background-color: #fff;
    padding: 50px 0;
    position: absolute; left: 0; top: 86px; z-index: 999; width: 100%;
    display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;
    display: none;
}
#wrap header .search_popup .search_form {
    border-bottom: 1px solid #7aadd3;
    width: 780px;
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
}
#wrap header .search_popup .search_form #search_keyword {
    width: calc(100% - 61px); height: 50px; font-size: 1.5rem;
}
#wrap header .search_popup .search_form .search_btn {}
#wrap header .search_popup .search_form .search_btn img {width: 100%;}
#wrap header .search_popup .popular_keywords {
    display: flex; flex-flow: row nowrap; align-items: center;
    margin-top: 26px;
}
#wrap header .search_popup .popular_keywords .search_title {
    color: #7aadd3; font-weight: 700; margin-right: 20px;
}
#wrap header .search_popup .popular_keywords ul {
    display: flex; flex-flow: row nowrap; gap: 8px;
}
#wrap header .search_popup .popular_keywords ul li {}
#wrap header .search_popup .popular_keywords ul li a {
    padding: 15px 30px; display: inline-block;
    color: rgba(0, 0, 0, 0.4); font-size: 0.88rem;
    border: 1px solid #bbb;
}
#wrap header .search_popup .reco_section {}
#wrap header .search_popup .reco_section > h2 {
    font-size: 2.25rem; font-weight: 500; padding: 25px 0;
}
#wrap header .search_popup .reco_section .reco_list {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    width: 1143px;
}
#wrap header .search_popup .reco_section .reco_list .reco_item {
    width: calc((100% - 68px) / 5); font-size: 0.86rem;
}
#wrap header .search_popup .reco_section .reco_list .reco_item .reco_thumnail {
    position: relative; margin-bottom: 10px;
}
#wrap header .search_popup .reco_section .reco_list .reco_item .reco_thumnail a {}
#wrap header .search_popup .reco_section .reco_list .reco_item .reco_thumnail a img {width: 100%;}
#wrap header .search_popup .reco_section .reco_list .reco_item .reco_thumnail .wish_btn {
    position: absolute; right: 10px; top: 10px;
}
#wrap header .search_popup .reco_section .reco_list .reco_item .reco_thumnail .wish_btn img {width: 22px;}
#wrap header .search_popup .reco_section .reco_list .reco_item h2 {}
#wrap header .search_popup .reco_section .reco_list .reco_item h2 a {}
#wrap header .search_popup .reco_section .reco_list .reco_item p {}
#wrap header .search_popup .reco_section .reco_list .reco_item .item_size {
    color: #ccc; margin: 12px 0 10px 0;
}
#wrap header .search_popup .reco_section .reco_list .reco_item .item_cushion {
    color: #ccc; margin-bottom: 20px}
#wrap header .search_popup .reco_section .reco_list .reco_item .item_badge {
    font-weight: 500;
}
#wrap header .search_popup .reco_section .reco_list .reco_item .price_box {}
#wrap header .search_popup .reco_section .reco_list .reco_item .price_box span {
    font-weight: 500;
}
#wrap header .search_popup .reco_section .reco_list .reco_item .price_box em {
    color: #7aadd3; font-weight: 600; margin-left: 7px;
}
#wrap header .search_popup .reco_section .reco_list .reco_item .review {
    font-size: 1rem; display: block; margin-top: 14px;
}
#wrap header .search_popup .search_popup_close {
    position: absolute; right: 360px; top: 60px; z-index: 999;
}
#wrap header .search_popup .search_popup_close img {width: 40px;}
/* ========================================================footer */
#wrap footer {}
#wrap footer .footer_logo {}
#wrap footer .footer_logo img {}
#wrap footer .footer_info {}
#wrap footer .footer_info .company_name {}
#wrap footer .footer_info .company_info {}
#wrap footer .footer_info .company_info dt {}
#wrap footer .footer_info .company_info dd {}
#wrap footer .footer_info .company_info dd address {}
#wrap footer .footer_info .company_info .biz_info {}
#wrap footer .footer_info .company_info .biz_info .biz_link {}
#wrap footer .footer_info .fnb {}
#wrap footer .footer_info .fnb li {}
#wrap footer .footer_info .fnb li a {}
#wrap footer .footer_info .copyright {}
#wrap footer .service {}
#wrap footer .service .service_center {}
#wrap footer .service .service_center dt {}
#wrap footer .service .service_center dd {}
#wrap footer .service .sns {}
#wrap footer .service .sns a {}
#wrap footer .service .sns a img {}
/* ================================================================공통 title_number */
#wrap .title_number_box {
    display: flex; flex-flow: row nowrap; align-items: center; gap: 10px;
}
#wrap .title_number_box .title_number {
    font-family: 'Times Newer Roman', sans-serif; font-style: italic;  font-size: 1.2rem;
}
#wrap .title_number_box .bar {
    width: 70px; height: 1px; background-color: rgba(0,0,0,0.2);
    display: inline-block;
}
#wrap .title_number_box > h1 {
    font-family: 'Instrument Sans', sans-serif; font-size: 1.2rem;
}