body {}
#wrap {}
/* ================================================================main */
#wrap main {}
#wrap main #right_quick {
    background-color: black;
    width: 60px;
    position: fixed; right: 50px; bottom: 60px; z-index: 999;
}
#wrap main #right_quick .btn_map {}
#wrap main #right_quick .btn_map img {width: 100%; margin-bottom: 10px;}
#wrap main #right_quick .btn_kakao {}
#wrap main #right_quick .btn_kakao img {width: 100%; margin-bottom: 10px;}
#wrap main #right_quick .btn_to_go {}
#wrap main #right_quick .btn_to_go img {width: 100%;}
/* -----------------------------------------------------------1. hero_bnr */
#wrap main #hero_bnr {}
#wrap main #hero_bnr .slide_wrap {
    width: 1920px; height: 845px;
    overflow: hidden;
}
#wrap main #hero_bnr .slide_wrap .slide_container {
    width: 5760px; height: 845px;
    display: flex; flex-flow: row nowrap;
}
#wrap main #hero_bnr .slide_wrap .slide_container .slide {
    width: 100%; height: 100%; position: relative;
    background-size: cover;
}
#wrap main #hero_bnr .slide_wrap .slide_container .slide p {
    color: #fff;
}
#wrap main #hero_bnr .slide_wrap .slide_container .slide h1 {
    color: #fff;
}
#wrap main #hero_bnr .slide_wrap .slide_container .slide1 {
    background-image: url(../images/banner1.jpg);
}
#wrap main #hero_bnr .slide_wrap .slide_container .slide h1 {
    font-size: 3rem; font-weight: 600;
    position: absolute; left: 280px; top: 40%;
    line-height: 1.3;
}
#wrap main #hero_bnr .slide_wrap .slide_container .slide p {
    position: absolute; left: 280px; top: 36%;
}
#wrap main #hero_bnr .slide_wrap .slide_container .slide2 {
    background-image: url(../images/banner2.jpg);
}
#wrap main #hero_bnr .slide_wrap .slide_container .slide3 {
    background-image: url(../images/banner3.jpg);
}
#wrap main #hero_bnr .slide_wrap .prev {position: absolute; left: 150px; top: 50%;}
#wrap main #hero_bnr .slide_wrap .prev img {}
#wrap main #hero_bnr .slide_wrap .next {position: absolute; right: 150px; top: 50%;}
#wrap main #hero_bnr .slide_wrap .next img {}
#wrap main #hero_bnr .slide_wrap .hero_controls {}
#wrap main #hero_bnr .slide_wrap .hero_controls .hero_progress {
    width: 450px; height: 1.6px; background-color: rgba(255,255,255,0.3);
    position: absolute; z-index: 888; left: 280px; bottom: 270px;
    display: flex; flex-flow: row nowrap;
}
#wrap main #hero_bnr .slide_wrap .hero_controls .hero_progress .hero_progress_bar {
    width: 33%; background-color: rgba(255,255,255,0.5);
}
#wrap main #hero_bnr .slide_wrap .hero_controls .pagination {
    position: absolute; z-index: 888; left: 280px; bottom: 220px;
    display: flex; flex-flow: row nowrap;
}
#wrap main #hero_bnr .slide_wrap .hero_controls .pagination .prev_s {margin-right: 10px;}
#wrap main #hero_bnr .slide_wrap .hero_controls .pagination .prev_s img {width: 20%;}
#wrap main #hero_bnr .slide_wrap .hero_controls .pagination .page_number {}
#wrap main #hero_bnr .slide_wrap .hero_controls .pagination .page_number span {
    color: #fff;
}
#wrap main #hero_bnr .slide_wrap .hero_controls .pagination .page_number .current {}
#wrap main #hero_bnr .slide_wrap .hero_controls .pagination .page_number .total {}
#wrap main #hero_bnr .slide_wrap .hero_controls .pagination .next_s {margin-left: 10px;}
#wrap main #hero_bnr .slide_wrap .hero_controls .pagination .next_s img {width: 20%;}
/* -----------------------------------------------------------2. main_video */
#wrap main #main_video {
    padding: 150px 0 250px 0; text-align: center;
    background-image: url(../images/main_video_bg.jpg);
    background-color: #fcfcfc; background-position: bottom;
    background-repeat: no-repeat;
}
#wrap main #main_video h1 {
    font-family: "Urbanist", sans-serif;
    font-size: 4rem; font-weight: 200;
}
#wrap main #main_video h1 span {
    font-weight: 500;
}
#wrap main #main_video iframe {
    margin-top: 100px;
}
#wrap main #main_video .video_desc_box {margin: 200px 0 0 0;}
#wrap main #main_video .video_desc_box p {
    font-size: 2.2rem; font-weight: 600; line-height: 1.7;
}
/* -----------------------------------------------------------3. main_about_sealy */
#wrap main #main_about_sealy {
    background-color: rgba(122,173,211,0.1);
    padding: 100px 150px;
}
#wrap main #main_about_sealy .title_number_box {}
#wrap main #main_about_sealy .title_number_box .title_number {}
#wrap main #main_about_sealy .title_number_box h1 {}
#wrap main #main_about_sealy .abt_wrap {position: relative;}
#wrap main #main_about_sealy .abt_wrap .abt_container {}
#wrap main #main_about_sealy .abt_wrap .abt_container .abt_cnt:nth-child(2),
#wrap main #main_about_sealy .abt_wrap .abt_container .abt_cnt:nth-child(3),
#wrap main #main_about_sealy .abt_wrap .abt_container .abt_cnt:nth-child(4) {display:none;}
#wrap main #main_about_sealy .abt_wrap .abt_container .abt_cnt {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
#wrap main #main_about_sealy .abt_wrap .abt_container .abt_cnt .title_big {}
#wrap main #main_about_sealy .abt_wrap .abt_container .abt_cnt .title_big h2 {
    font-size: 5.5rem; margin-top: 70px;
}
#wrap main #main_about_sealy .abt_wrap .abt_container .abt_cnt .title_big h2 span {
    display: block; margin-top: 20px;
    font-family: 'Times Newer Roman', sans-serif; font-style: italic;
}
#wrap main #main_about_sealy .abt_wrap .abt_container .abt_cnt .title_big p {
    line-height: 1.6; margin-top: 20px;
}
#wrap main #main_about_sealy .abt_wrap .abt_container .abt_cnt .about_img {width: 800px;}
#wrap main #main_about_sealy .abt_wrap .abt_container .abt_cnt .about_img img {width: 100%;}
#wrap main #main_about_sealy .abt_wrap .title_small {
    position: absolute; width: 460px;
    bottom: 20px; left: 200px; display: block;
}
#wrap main #main_about_sealy .abt_wrap .title_small .active {}
#wrap main #main_about_sealy .abt_wrap .title_small .active a {}
#wrap main #main_about_sealy .abt_wrap .title_small .active a h2 {}
#wrap main #main_about_sealy .abt_wrap .title_small .active a img {}
#wrap main #main_about_sealy .abt_wrap .title_small li {}
#wrap main #main_about_sealy .abt_wrap .title_small li a {
    padding: 16px 0;
    border-bottom: 1px solid #7aadd3;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
}
#wrap main #main_about_sealy .abt_wrap .title_small li a::after{
    content: ''; display: inline-block; width: 15px; height: 15px;
    background-image: url(../images/btn_more.svg);
    opacity: 0; transition: 0.8s;
}
#wrap main #main_about_sealy .abt_wrap .title_small li a h2 {
    color: #7aadd3; font-family: 'InstrumentSans', sans-serif; font-size: 1.13rem;
    display: inline-block;
}
#wrap main #main_about_sealy .abt_wrap .title_small li a:hover {
    border-bottom: 1px solid #000;
}
#wrap main #main_about_sealy .abt_wrap .title_small li a:hover h2{
    color: #000; font-weight: 600;
    opacity: 1;
}
#wrap main #main_about_sealy .abt_wrap .title_small li a:hover::after {
    opacity: 1;
}
#wrap main #main_collection {}
#wrap main #main_collection .title_number_box {}
#wrap main #main_collection .title_number_box .title_number {}
#wrap main #main_collection .title_number_box h1 {}
#wrap main #main_collection .collection_box {}
#wrap main #main_collection .collection_box li {}
#wrap main #main_collection .collection_box li .collection {}
#wrap main #main_collection .collection_box li .collection_popup {}
#wrap main #main_collection .collection_box li .collection_popup img {}
#wrap main #main_collection .collection_box li .collection_popup a {}
#wrap main #main_collection .collection_box li .collection_popup a img {}
#wrap main #main_event {}
#wrap main #main_event .event_bnr {}
#wrap main #main_event .event_bnr p {}
#wrap main #main_event .event_bnr h1 {}
#wrap main #main_event .event_bnr a {}
#wrap main #main_event .event_bnr a img {}
#wrap main #main_event .event1 {}
#wrap main #main_event .event2 {}
#wrap main #main_shop {}
#wrap main #main_shop .title_number_box {}
#wrap main #main_shop .title_number_box p {}
#wrap main #main_shop .title_number_box h1 {}
#wrap main #main_shop .products_title {}
#wrap main #main_shop .products_title h2 {}
#wrap main #main_shop .products_title h2 span {}
#wrap main #main_shop .products_title a {}
#wrap main #main_shop .products_title a img {}
#wrap main #main_shop .products_box {}
#wrap main #main_shop .products_box .product {}
#wrap main #main_shop .products_box .product .product_img {}
#wrap main #main_shop .products_box .product .product_img a {}
#wrap main #main_shop .products_box .product .product_img a img {}
#wrap main #main_shop .products_box .product .product_img .wish_btn {}
#wrap main #main_shop .products_box .product .product_img .wish_btn img {}
#wrap main #main_shop .products_box .product h3 {}
#wrap main #main_shop .products_box .product h3 a {}
#wrap main #main_shop .products_box .product .product_size {}
#wrap main #main_shop .products_box .product .product_cushion {}
#wrap main #main_shop .products_box .product .price_info {}
#wrap main #main_shop .products_box .product .price_info span {}
#wrap main #main_shop .products_box .product .price_info em {}
#wrap main #main_shop .products_box .product a {}
#wrap main #main_community {}
#wrap main #main_community .title_number_box {}
#wrap main #main_community .title_number_box .title_number {}
#wrap main #main_community .title_number_box h1 {}
#wrap main #main_community .community_box {}
#wrap main #main_community .community_box h2 {}
#wrap main #main_community .community_box h2 span {}
#wrap main #main_community .community_box .community_list {}
#wrap main #main_community .community_box .community_list li {}
#wrap main #main_community .community_box .community_list li a {}
#wrap main #main_community .community_box .community_list li a img {}
#wrap main #main_community .community_box .community_list li a h3 {}
#wrap main #main_community .community_box .community_list li a p {}
#wrap main #main_support {}
#wrap main #main_support h1 {}
#wrap main #main_support .support_list {}
#wrap main #main_support .support_list li {}
#wrap main #main_support .support_list li a {}
#wrap main #main_support .support_list li a img {}
#wrap main #main_support .support_list li a h2 {}
#wrap main #main_support .support_list li a p {}